<ion-header>

  <ion-navbar>
    <ion-title>{{ 'CLASS_CREATE_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="done()">
    <ion-list>

      <ion-item>
        <ion-label>{{ 'CLASS_DATE' | translate }}</ion-label>
        <ion-datetime formControlName="data" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'CLASS_COMPANY' | translate }}</ion-label>
        <ion-select formControlName="empresaKey">
          <ion-option *ngFor="let empresa of empresas | async" [value]="empresa.key">{{ empresa.nome }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'CLASS_CITY' | translate }}</ion-label>
        <ion-select formControlName="cidadeKey">
          <ion-option *ngFor="let cidade of cidades | async" [value]="cidade.key">{{ cidade.nome }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'CLASS_AREA' | translate }}</ion-label>
        <ion-select formControlName="salaKey">
          <ion-option *ngFor="let sala of salas | async" [value]="sala.key">{{ sala.nome }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'CLASS_POTENTIAL' | translate }}</ion-label>
        <ion-input formControlName="potencial" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'CLASS_PARTICIPANTS' | translate }}</ion-label>
        <ion-input formControlName="participantes" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'CLASS_ABSENCE' | translate }}</ion-label>
        <ion-select formControlName="faltaKey">
          <ion-option *ngFor="let falta of faltas | async" [value]="falta.key">{{ falta.nome }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'CLASS_OBSERVATIONS' | translate }}</ion-label>
        <ion-textarea formControlName="observacao" rows="6"></ion-textarea>
      </ion-item>

    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="cancel($event)" ion-button icon-left color="danger">
        <ion-icon name="close"></ion-icon>
        {{ 'CANCEL_BUTTON' | translate }}
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button (click)="done()" ion-button icon-right color="secondary">
        {{ 'DONE_BUTTON' | translate }}
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
